*{
    font-family: cursive;
}

body{
    background-color:burlywood;
    text-align: center;
}

button{
    background-color:brown;
    /* border: solid black; */
    color: white;
    padding: 15px 32px;
    margin-right: 20px;
    font-size: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 14px;
}

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }

.hey{
    color: #31363F;
    font-size: 30px;
  }  
