body{
    background-color:burlywood;
    text-align: center;
}

h1{
    text-decoration: underline;
    text-shadow: 2px 2px aqua;
}

button{
    background-color: #04AA6D;
    border: solid black;
    color: white;
    padding: 15px 32px;
    margin-right: 20px;
    font-size: 30px;
}

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
    cursor: pointer;
  }